<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^onyi.fr$
    RewriteCond %{HTTP:X-Forwarded-Proto} !^https$
    RewriteRule ^(.*) https://onyi.fr/$1 [R=301,L]
    
</IfModule>